<!-- main - a row holds columns -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="SchoolNumber">School Number</label>
      <input type="number" class="form-control" id="SchoolNumber" name="SchoolNumber" value="<%= course.SchoolNumber %>" required>
    </div>

    <div class="form-group">
      <label for="CourseNumber">Course Number</label>
      <input type="number" class="form-control" id="CourseNumber" name="CourseNumber" value="<%= course.CourseNumber %>">
    </div>

    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="Name" name="Name" value="<%= course.Name %>">
    </div>

    <div class="form-group">
      <label for="inSpring">in Spring</label>
      <input type="text" class="form-control" id="inSpring" name="inSpring" value="<%= course.inSpring %>">
    </div>

    <div class="form-group">
      <label for="inSummer">inSummer</label>
      <input type="text" class="form-control" id="inSummer" name="inSummer" value="<%= course.inSummer %>">
    </div>

    <div class="form-group">
      <label for="inFall">inFall </label>
      <input type="text" class="form-control" id="inFall" name="inFall" value="<%= course.inFall %>">
    </div>

    

  </div>
</div>

<!-- PUT CLIENT SIDE CODE HERE -->
<script>
 
  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>