<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of developer</h2>
      <br>
      <br> ID: <%=student._id %>
      <br> Given: <%=student.Given %>
      <br> Family: <%=student.family %>
      <br> Email: <%=student.Email %>
      <br> GitHub: <%=student.GitHub %>
      <br> Website: <%=student.Website %>
      <br> GPA: <%=student.GPA %>
      <br> Section_ID: <%=student.SectionID %>
      <hr>
      
      <form method="get" action="/student">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>


      <form method="POST" action="/student/delete/<%= student._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>