<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="student/create" class="btn btn-primary new">
        Create a new Student
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= students.length %> Students.
        <br>
      </p>
      <% for (let i = students.length-1; i >= 0; i--) {   
        student = students[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">
          <br> ID: <%=student._id %>
          <br> Given: <%=student.Given %>
          <br> Family: <%=student.family %>
          <br> Email: <%=student.Email %>
          <br> GitHub: <%=student.GitHub %>
          <br> Website: <%=student.Website %>
          <br> GPA: <%=student.GPA %>
          <br> Section_ID: <%=student.Section %>

          <hr>
          <a href="/student/delete/<%= student._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/student/details/<%= student._id %>" class="btn btn-info"> Details </a>
          <a href="/student/edit/<%= student._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>